body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: palevioletred;
}

#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    cursor: none; /* Hide default cursor */
}

#pencil {
    position: absolute;
    pointer-events: none; /* Ensure the pencil does not interfere with mouse events */
}

#pencil img {
    width: 130px; /* Adjust the size of the pencil as needed */
    pointer-events: none; /* Ensure the GIF does not interfere with mouse events */
}

